body {
  background: url(../titlescreen.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* signup */


/* Login */
.login {
 display: flex;
 padding: 16px;
}

.login-container {
  padding: 16px;
}

button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
