body {
  background: url(../background.png) repeat-x center center fixed;
  -webkit-background-size: fixed;
  -moz-background-size: fixed;
  -o-background-size: fixed;
  background-size: 175vh;
}

/* highscore */
#high {
  padding: 16px;
  background-color: rgb(3, 46, 29);
}

/* signup */
.signup {
  border: 10px solid black;
}

b {
  color: rgb(34, 184, 126);
}

h1 {
  color: rgb(34, 184, 126);
}

#signup {
  padding: 16px;
  background-color: rgb(3, 46, 29);
}

input[type=text], input[type=psw] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}


/* Login */
.login {
 display: flex;
 padding: 16px;
}

.login-container {
  padding: 16px;
}

button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
