body {
  background: url(../titlescreen.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Login */
.login {
 display: flex;
 padding: ;
}

.login-container {
  
}


